{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{banner.title}}</section>
<h2>{{banner.title }} disponíveis para adoção</h2>
{{/banner}}

{{#list}}
    <div class="container list">
        <div class="item">
            <img src="images/{{image}}" class="item--image" />
            <div class="item--name">{{name}}</div>
            <div class="item--color">{{color}}</div>
            <div class="item--genre">{{sex}}</div>
        </div>
    </div>
{{/list}}



{{>partials/footer}}